<% if @guesses.present? %>
  <% @guesses.each do |guess| %>
    $('.js-add_fieldset').click();
    $('.js-regex:last').val('<%= guess %>');
    $('.js-purpose:last').val(<%= Purpose.default_purpose.id %>);
  <% end %>
<% else %>
  $('.js-flash_point').after('<div class="flash-notice"><div>There are no unknown transactions.</div></div>');
<% end %>