<ul>
  <% @sources.each do |source| %>
    <li>
      <%= source.name %>
      <%= source.purpose.nil? ? 'uh oh' : source.purpose.name %>
      <%= link_to('W', source_path(source), class: '') %>
      <%= link_to('j', source_path(source), method: :delete, data: {confirm: 'Are you sure?'}, class: '') %>
    </li>
  <% end %>
</ul>