svg {
  -webkit-font-smoothing: initial;
}

.breakdown {
  svg.svg_breakdown {
    display: inline-block;
    height: 350px;
    width: 33%;
    min-width: 23em;
  }
}

#categories_pie_chart {
  height: 500px;
  width: 500px;
}