// maybe a pattern
.sortable_list {
  border: 1px solid #eee;
  width: 8em;
  padding: 5px 0 0 0;

  li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    color: #555555;
  }
}