.set {
  border: 1px solid crimson;
  margin-bottom: 1em;

  legend {
    color: crimson;
    .taiga {
      vertical-align: inherit;
    }
  }

  &.complete {
    border-color: green;
    
    legend {
      color: green;
    }
  }
}