.set {
  border: 1px solid crimson;
  margin-bottom: 1em;

  legend {
    color: crimson;
    .taiga {
      vertical-align: inherit;
    }
  }

  &.complete {
    border-color: green;
    
    legend {
      color: green;
    }
  }
}

.new_category_set, .edit_category_set {
  .assigned {
    background-color: #e8c3e8;
  }
}