.transactions {
  .import_transactions {
    margin: 0 0 1em -0.4em;

    input[type='submit'] {
      margin: 0 .5em;
    }

    .file_input {
      font-size: 14px;
      padding: 0.5em;
    }
  }

  .date_range_picker {
    display: inline-block;
  }
}

.js-transactions {
  border-top: 2px solid transparent;
  &.selected {
    border-right: 2px solid darkmagenta;
  }
}

.js-running_total {
  border: 2px solid darkmagenta;
  display: inline-block;
  padding: .25em;

  position: absolute;
  left: 102%;

  &:before {
    content: '$';
  }
}

.transactions_table {
  position: relative;
}