// this is the default
// $grid-columns: 12;

// these breakpoints will most likely change based off design
$mobile: new-breakpoint(max-width 500px 4);
$tablet: new-breakpoint(max-width 809px 4);
$desktop: new-breakpoint(min-width 810px 12);
