$white: #fff;
$black: #333;

$background_gray: #F5F7FA;
$foreground_gray: #E6E9ED;
$medium_gray: #999;
$light_black: #3a3a3a;

$yellow: #fff6bf;
$red: #fbe3e4;
$blue: #e5edf8;
$green: #e6efc2;

$mint: #48CFAD;
$dark_mint: #37BC9B;

$bittersweet: #FC6E51;
$dark_bittersweet: #E9573F;

$aqua: #4FC1E9;
$dark_aqua: #3BAFDA;