<ul class='parser_list'>
  <% @parsers.each do |parser| %>
    <li>
      <%= parser.id %>
      <%= parser.name %>
      <%= link_to('W', parser_path(parser), class: 'taiga') %>
    </li>
  <% end %>
</ul>