.date_range_picker {
  margin-bottom: 1em;

  .to, #start_date, #end_date {
    float: left;
    font-size: 14px;
  }

  #start_date, #end_date {
    border-radius: 0;
    padding: 0.25em 2em;
  }

  .to {
    @extend .oswald;

    background: $medium_gray;
    color: $white;

    padding: 4px 12px;
    height: 30px;
  }

  input[type=submit].submit {
    margin: 0 .5em 0 0;
    height: 30px;
    border-radius: 0;
    padding: 0.3em 1em;
    box-shadow: none;
  }
}