/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "base/*";
@import "pages/*";
@import "patterns/*";
@import "multi-select";
@import "nv.d3.min";

body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'taiga';
  src: url("/taiga.woff") format('woff');
}

.taiga {
  font-family: taiga, sans-serif;
  @extend .icon;
}





//input.blue_button {
//  min-width: 5em;
//  padding: 0.3em;
//  background: cadetblue;
//  border-radius: .25em;
//  box-shadow: 1px 1px 1px #888, inset -1px -1px 1px #528f91;
//  color: whitesmoke;
//  &:disabled {
//    opacity: .5;
//    background: grey;
//    box-shadow: 1px 1px 1px #797979, inset -1px -1px 1px #969696;
//  }
//}

.hide {
  display: none;
}