// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #6191bc;
$light_blue: #c9dae6;

$green: #719b5b;
$light_green: #e1eccb;

$yellow: #a2824b;
$light_yellow: #f1e8bf;

$red: #d16969;
$light_red: #e3e0e0;


$grey: gainsboro;
$black: #1e1e1e;

.bill_table {
  border-collapse: collapse;

  .header {
    background-color: $grey;
  }

  th {
    text-align: left;
  }

  td, th {
    padding: .4em;
  }

  .paid {
    color: $green;
    background-color: $light_green;
  }

  .late {
    color: $red;
    background-color: $light_red;
  }

  .soon {
    color: $yellow;
    background-color: $light_yellow;
  }

  .later {
    color: $blue;
    background-color: $light_blue;
  }
}

.taiga {
  a {
    text-decoration: none;
    color: $black;
    opacity: .2;
    transition: opacity .5s;
    &:hover {
      opacity: 1;
    }
  }
}