.purposes {
  // responsive :(
  overflow: auto;

  .purpose_list {
    overflow: auto;

    li {
      width: 12em;
      float: left;
      .purpose_name {
        width: 7.8125rem;
        font-size: .8125em;
      }
    }
  }

  .create_purpose_form {
    margin-bottom: 1em;
    input[type='text'] {
      margin-right: .5em;
      font-size: 14px;
    }
  }
}