<!-- all or list -->
<% flash.keys.each do |key| %>
  <%= content_tag(:div, class: "flash-#{key.singularize}") do %>
    <% Array(flash[key]).each do |msg| %>
      <div><%= msg %></div>
    <% end %>
  <% end %>
<% end %>